doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title About Us
    link(rel="stylesheet", href="/styless.css")
  body#subpages
    h1 Under Construction
    button: a(href="/") Home
    footer
      p &copy; #{new Date().getFullYear()} Sarrah Gandhi. All rights reserved.
