extends layout 
block layout-content 
    div#layout-content
        img(src="images/landingposter.jpg", alt="landingposter")
        #floater 
            p New Arrivals
            h1 Discover Our New Collection 
            p We have a new collection of products that are sure to change your life.
            button: a(href="/") Shop Now

block range
    div#range
        h2 Browse The Range
        p Best Sellers 
        #list 
            ul
                li
                    //- https://assets.wfcdn.com/im/62488874/resize-h800-w800%5Ecompr-r85/2678/267823513/Rahn+Dining+Table.jpg
                    img(src="images/dining.webp", alt="product1")

                    h3 Dining
                li 
                    //- Image source: https://www.bhg.com/thmb/HtvvlBpBSpfFBv_pj4L5TqEZZ2U=/1335x0/filters:no_upscale():strip_icc()/103248739-975b8520d15043afb7d8181972e0388b.jpg
                    img(src="images/living.jpeg", alt="product2")
                    h3 Living 
                li
                    //- Image Source: https://www.bhg.com/thmb/hG7_GX5I0I-8i-ZgvCOCosObvE8=/1244x0/filters:no_upscale():strip_icc()/bedroom-wooden-accent-wall-9KdgK5zqKcz9ukcu6xy1Hx-c1217ee14b1b43e0ae82ec2046743af5.jpg
                    img(src="images/bedroom.jpg", alt="product3")
                    h3 Bedroom
block productrange 
    div#productrange
        h2 Our Products
        #productlist 
            ul
                li
                    img(src="images/dining.webp", alt="product1")
                    div#productdetails
                        h4 Syttherine
                        p Stylish Cafe chair
                        h5 $19.99
                    button: a(href="/") Add to Cart

                    
                li
                    //- https://woodentwist.com/cdn/shop/files/Modern_dining_chair_9.webp?v=1729601695
                    img(src="images/cafechairs.webp", alt="product1")
                    div#productdetails
                        h4 Syttherine
                        p Stylish Cafe chair
                        h5 $19.99
                    button: a(href="/") Add to Cart

                li
                    //- https://artfasad.com/wp-content/uploads/2023/09/modern-sofa-set-designs-for-living-room-2.jpg.webp
                    img(src="images/modernsofa.webp", alt="product2")
                    div#productdetails
                        h4 LuxeSofa
                        p Comfortable modern sofa
                        h5 $299.99
                    button: a(href="/") Add to Cart

                li
                    //- https://assets.wfcdn.com/im/15704500/resize-h800-w800%5Ecompr-r85/2497/249748249/Oval+Solid+Wood+Dining+Table.jpg
                    img(src="images/woodentable.webp", alt="product3")
                    div#productdetails
                        h4 WoodCraft
                        p Elegant wooden table
                        h5 $149.99
                    button: a(href="/") Add to Cart

                li
                    //- https://assets.weimgs.com/weimgs/ab/images/wcm/products/202449/0005/mid-century-platform-bed-acorn-o.jpg
                    img(src="images/dreambed.jpg", alt="product4")
                    div#productdetails
                        h4 DreamBed
                        p King-size comfy bed
                        h5 $399.99
                    button: a(href="/") Add to Cart

                li
                    //- https://www.vecelo.com/cdn/shop/files/81NgbZTVMZL._AC_SL1500.jpg?v=1702889048
                    img(src="images/storageshelf.jpg", alt="product5")
                    div#productdetails
                    
                        h4 SpaceSaver
                        p Stylish storage shelf
                        h5 $89.99
                        button: a(href="/") Add to Cart

                li
                    img(src="images/officechair.webp", alt="product6")
                    div#productdetails
                        h4 WorkEase
                        p Ergonomic office chair
                        h5 $129.99
                        button: a(href="/") Add to Cart

                li
                    img(src="images/standinglamp.jpg", alt="product7")
                    div#productdetails
                        h4 GlowLamp
                        p Modern standing lamp
                        h5 $49.99
                        button: a(href="/") Add to Cart

                

