extends layout 
block layout-content 
    div#layout-content
        img(src="images/landingposter.jpg", alt="landingposter")
        #floater 
            p New Arrivals
            h1 Discover Our New Collection 
            p We have a new collection of products that are sure to change your life.
            button: a(href="/") Shop Now

block range
    div#range
        h2 Browse The Range
        p Best Sellers 
        #list 
            ul
                li
                    img(src="images/dining.webp", alt="product1")
                    h3 Dining
                li 
                    img(src="images/living.jpeg", alt="product2")
                    h3 Living 
                li
                    img(src="images/bedroom.jpg", alt="product3")
                    h3 Bedroom
block productrange 
    div#productrange
        h2 Our Products
        #productlist 
            ul
                li
                    img(src="images/dining.webp", alt="product1")
                    div#productdetails
                        h4 Syttherine
                        p Stylish Cafe chair
                        h5 $19.99
                        button: a(href="/") Add to Cart

                    
                li
                    img(src="images/dining.webp", alt="product1")
                    div#productdetails
                        h4 Syttherine
                        p Stylish Cafe chair
                        h5 $19.99
                        button: a(href="/") Add to Cart

                li
                    img(src="images/dining.webp", alt="product2")
                    div#productdetails
                        h4 LuxeSofa
                        p Comfortable modern sofa
                        h5 $299.99
                        button: a(href="/") Add to Cart

                li
                    img(src="images/dining.webp", alt="product3")
                    div#productdetails
                        h4 WoodCraft
                        p Elegant wooden table
                        h5 $149.99
                        button: a(href="/") Add to Cart

                li
                    img(src="images/dining.webp", alt="product4")
                    div#productdetails
                        h4 DreamBed
                        p King-size comfy bed
                        h5 $399.99
                        button: a(href="/") Add to Cart

                li
                    img(src="images/dining.webp", alt="product5")
                    div#productdetails
                    
                        h4 SpaceSaver
                        p Stylish storage shelf
                        h5 $89.99
                        button: a(href="/") Add to Cart

                li
                    img(src="images/dining.webp", alt="product6")
                    div#productdetails
                        h4 WorkEase
                        p Ergonomic office chair
                        h5 $129.99
                        button: a(href="/") Add to Cart

                li
                    img(src="images/dining.webp", alt="product7")
                    div#productdetails
                        h4 GlowLamp
                        p Modern standing lamp
                        h5 $49.99
                        button: a(href="/") Add to Cart

                

